#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Rota table row colours */
table tbody tr:nth-child(odd) {
  background-color: #e8f5e9; /* soft green */
  color:black;
  border-bottom:"grey solid 1px";
}

table tbody tr:nth-child(even) {
  background-color: #fce4ec; /* soft pink */
  color:black;
    border-bottom:"1px solid black";
}

/* Optional: nicer hover effect */
table tbody tr:hover {
  background-color: #fff9c4;
    /* pale yellow */
}
th{
    background-color:#a2d5ab;
    color:black;
}
td{
  padding:8px;
  border-bottom: 1px solid rgb(38, 38, 38);
}




